name: SwiftLint

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  swiftlint:
    runs-on: macos-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install SwiftLint
      run: brew install swiftlint

    - name: Run SwiftLint
      run: swiftlint --strict
