name: SwiftLint

on:
  pull_request:

jobs:
  swiftlint:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run SwiftLint with Annotations
        uses: norio-nomura/action-swiftlint@v4
        with:
          strict: true
